@import '../../../scss/utils/variables';
@import '../../../scss/utils/mixins';

.main {
  @include reset-button;
  width: var(--baseline);
  height: var(--baseline);
  border-radius: 100%;
}

.selected {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: calc(var(--baseline) + 5);
    height: calc(var(--baseline) + 5);
    border: 2px solid #fff;
    border-radius: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
