@import '../../../scss/utils/variables';
@import '../../../scss/utils/mixins';

.button {
  @include reset-button;
  @include text-style-t3();
  background-color: $color-V0-2;
  padding: calc(var(--subline) * 2);
  border: 1px solid $color-V0-2;
  border-radius: var(--border-radius);

  &:hover {
    border-color: #616068;
  }
}

.selected {
  background: $color-G0;
  padding: calc(var(--subline) * 2);
  border: none;
}

.disabled {
  pointer-events: none;
  background: rgba(19, 17, 29, 0.98);
  padding: calc(var(--subline) * 2);
  border: none;
  color: #403e48;
}
