@import "../scss/utils/variables";

@import "../scss/utils/global";

.wrapper {
  width: rem(280);
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: rem(15);
  margin-bottom: rem(30);
}
.button {
  background-color: var(--color-D1);
  color: var(--color-D9);
  border-radius: var(--border-radius);
  border: none;
  height: rem(40);
  padding: rem(8) rem(15);
}
.active {
  background: var(--color-G0);
}
.info-header {
  font-weight: bold;
  display: block;
}
.text {
  width: rem(265);
  text-align: left;
  align-self: center;
  font-size: var(--font-size-2);
  font-weight: 500;
}
