@import '../../../scss/utils/variables';
@import '../../../scss/utils/mixins';

.wrapper {
  @include ib;
  position: relative;
  &:hover {
    & div:first-child {
      opacity: 1;
    }
  }
}

.tip {
  opacity: 0;
  transition: 0.3s all;
  position: absolute;
  font-size: 12px;
  background: $color-D3;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  padding: 2px 8px;
  border-radius: var(--border-radius);
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: var(--subline) solid transparent;
    border-right: var(--subline) solid transparent;
    border-top: var(--subline) solid $color-D3;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(var(--subline) * -1);
  }
}
